# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="" # Database
JWT_SECRET="" # jwt signing secret
NODE_ENV=""  # Dev or Prod
GOOGLE_APP_PASSWORD=""  # google app password for sending email. e.g: https://myaccount.google.com/apppasswords?pli=1&rapt=AEjHL4M_hEz4VSFF3hPYzdvSl0Sc1IAVK0O_jiohr2PZZW7Lgt6YscusU-QCAhcfDxNO-QG2OWDZMoio0Zre7vqk-SrabDlDqA
EMAIL_SENDER="" # your email address. In this example GMAIL.